.Contact {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  font-style: italic;
  color: gray;
  width: 100%;
  grid-gap: 2px;
  scale: .7;
  font-size: 16px;
}


.cont:hover,
.eAddress:hover,
.lAddress:hover,
.gitAddress:hover
 {
  transform: scale(1.1);
}


@media (min-width: 768px) {
  .Contact {
    max-width: 768px;
    grid-gap: 4px;
    font-size: 18px;
    margin: 0 auto;
    scale: 1;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
.eAddress {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.lAddress {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 6;
  grid-column-end: 7;
  text-decoration: none;
}

.gitAddress {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 8;
  grid-column-end: 9;
  color: gray;
}
}

@media (min-width: 1024px) {
  .Contact {
    max-width: 1024px;
    grid-gap: 6px;
    font-size: 20px;
    scale: 1.1;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
.eAddress {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.lAddress {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 6;
  grid-column-end: 7;
}

.gitAddress {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 8;
  grid-column-end: 9;
  color: gray;
}

}
.gitAddress,.lAddress,.eAddress,.cont{
   color: gray;
   text-decoration: none;
}

.gitAddress:hover,.lAddress:hover,.eAddress:hover,.number:hover,.cont:hove{
 color:whitesmoke;
}