.modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.sModal{
    display: none; /* Initially hide the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#name,#password,#sName,#ePassword,#sPassword {
  width: 75%;
  margin: 3px;
  padding: 3px;
}
#remember {
  width: 100%;
  font-weight: bold;
}
#submit,#sSubmit {
  margin: 3px;
  padding: 3px;
}
.modalContent,.sModalContent {
  background-color: whitesmoke;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 16px;
  display: grid;
  justify-content: center;
}
.headerLogin,.headerSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.close:hover,
.close:focus,.sClose:hover,.sClose:focus {
  cursor: pointer;
  transform: scale(1.1);
  color: purple;
}
.close,.sClose {
  font-weight: bold;
  font-size: 20px;
  float: right;
}